---
import BtcTicker from "@features/layout/header/BtcTicker/BtcTicker.astro";
import Logo from "../Logo/Logo.astro";
import NavMain from "@features/layout/header/nav/NavMain/NavMain.astro";
---

<header class="header">
  <div class="container wrapper">
    <Logo />
    <NavMain />
  </div>
  <BtcTicker />
</header>

<style>
  .header {
    padding: 16px 0;;
    .wrapper {
      display: grid;
      grid-template-columns: 200px 1fr; /* Éléments de menu répartis */

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        
      }
    }
  }
</style>
