<h2 class="sectiontitle-rightaligned"><slot /></h2>

<style>
  h2 {
    margin-top: 16px;
    text-align: left;
    letter-spacing: -3.5px;
    font-family: var(--font-heading);
    font-size: 88px;
    line-height: 1;
    font-weight: 300;

    @media screen and (max-width: 768px) {
      margin-top: 8px;
      font-size: 48px;
      letter-spacing: -2px;
    }
  }
</style>
