<span><slot /></span>

<style>
  span {
    text-align: left;
    font-family: var(--font-text);
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-950);
    text-transform: uppercase;
  }
</style>
