<a href="/" class="logo">Crypto Mundi</a>

<style>
  .logo {
    font-weight: 800;
    font-size: 32px;
    text-decoration: none;
    color: #ff553f;
    transition: all 0.2s linear;
    font-family: var(--font-text);
    letter-spacing: -1px;

    &:hover {
      color: #ff7755;
    }
  }
</style>
